<title>Login</title>
<% if (user) { %>
  <form action="/logout" method="POST">
    <h1>
      <label for="email">user email: </label>
      <%= user.email %>
      <button type="submit">Logout</button>
    </h1>
  </form>
<% } else { %>
<form action="/login" method="POST">
  <h2>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </h2>
</form>
<% } %>