<title>Login Page</title>
</head>

<body>
	 <h3>

   <h1>Enter Email
  <form method="POST" action="/login"><input name="email" type="email">
</h1>

 	
   <h1> Enter Password
   <input name="password" type="password"> </h1>
   <input type="submit" value="submit">
    </h3>
    </form>
 	
    

<div>



</div>    

<p>Go back to <a href="/urls">home page</a></p> 
</body>
</html>