<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>
<body>
	<% include partials/_header %>

		<ul>
			
			
			<% for (allUrls in urls) { %>

<li><%= `${allUrls} -------> ${urls[allUrls]} `%></li>

<a href= <%= `/urls/${allUrls}` %>>edit</a>

<form method="POST" action="/urls/<%= allUrls %>/delete">
		
<button type=button"button">Delete</button>
			
			</form>
			
			<% }; %> 




		</ul>

</body>

</html>